.card-swap-container {
  position: relative;
  transform-origin: bottom right;

  width: 500px;
  height: 400px;
  top: auto;
  left: auto;
  transform: none;

  perspective: 1200px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  border: 5px solid #fff;

  background: linear-gradient(
    135deg, 
    rgb(255, 255, 255) 0%, 
    rgba(255, 200, 238, 0.336) 100%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(255, 1, 170, 0.151);

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}
